body {
    padding: 0px;
    margin: 0px;
    background-color: #5E5954;
}

#titulo {
    color: white;
    font-weight: 900;
}

#subtitulo {
    color: white;
    font-weight: 900;
}

.container {
    margin-top: 20px;
}

.centered-content {
    display: flex;
    justify-content: center;
}

.celda {
    background-color: #5E5954;
    width: 100%;
    height: 10.3vw;
}

.col {
    display: flex;
    justify-content: center;
}

.contenedorTablero {
    width: 50vw;
}

div.col {
    padding: 0px;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9 {
    font-size: 10vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#c1{
    border-bottom: 3px solid #696662;
    border-right: 3px solid #696662;
}

#c2 {
    border-bottom: 3px solid #696662;
}

#c3 {
    border-bottom: 3px solid #696662;
    border-left: 3px solid #696662;
}

#c4 {
    border-right: 3px solid #696662;
}

#c6 {
    border-left: 3px solid #696662;
}

#c7 {
    border-top: 3px solid #696662;
    border-right: 3px solid #696662;
}

#c8 {
    border-top: 3px solid #696662;
}

#c9 {
    border-top: 3px solid #696662;
    border-left: 3px solid #696662;
}

#c1:hover, #c2:hover, #c3:hover, #c4:hover, #c5:hover, #c6:hover, #c7:hover, #c8:hover, #c9:hover {
    background-color: tomato;
}

.nuevoJuegoContainer {
    background-color: #48433c;
    width: 50%;
    height: 200px;
    padding: 10px;
}

#chooseWeaponText {
    color: white;
    font-weight: 900;
}

.selectX, .selectO {
    background-color: #423B34;
    width: 5vw;
    height: 5vw;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.selectX{
    color: #edd97d;
}

.selectO{
    color: #3FACD6;

}

.selectX:hover, .selectO:hover {
    background-color: #595550;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 input{
     text-align: center;
     width: 80%;
 }
